expo-template-pluto/node_modules
expo-template-pluto/.expo
expo-template-pluto/.vscode
expo-template-pluto/.DS_Store
expo-template-pluto/android
expo-template-pluto/ios
expo-template-pluto/web-build
expo-template-pluto/.idea
expo-template-pluto/.expo-shared
expo-template-pluto/dist
expo-template-pluto/build
expo-template-pluto/.env
expo-template-pluto/.env.local
expo-template-pluto/.env.*.local
expo-template-pluto/npm-debug.log*
expo-template-pluto/yarn-debug.log*
expo-template-pluto/yarn-error.log*
expo-template-pluto/lerna-debug.log*

